.app__map {
  flex-grow: 1;
  flex-direction: column;
  position: relative;
}

.MuiDrawer-paper {
  height: 50%;
  position: absolute;
  right: 320px;
  left: 0;
  width: calc(100vw - 320px) !important;
  transform: translateX(320px) !important;
}